@font-face {
	font-family: LeagueGothic;
	src: url("AMATIC-SC.TTF");
}

body {
    font-family: LeagueGothic;
    font-size: 24px;
    background-image: url("Images/bg.jpg");
    background-repeat: repeat;
    background-color: #62a395;
}

h1{
    font-size: 64px;
    text-align: center;
    align-self: center;
}

.mainDiv{
    position: relative;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    background-color: beige;
    border: 3px solid black;
    border-radius: 10px;

    width: 80%;

    padding-bottom: 4%;
}


.header{
    display: grid;
    grid-template-columns: 50% 50%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
}

.specifications{
    top: 50%;
    align-self: center;
    width: 100%;
    padding: 5%;

    background-color: beige;
    border: 3px solid black;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 30% auto
}

.fit{
    height: 180px;
    width: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #62a39500;
}

.store{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    grid-column-gap: 3%;
    grid-row-gap: 3%;

    margin: 5%;
}

.item{
    display: grid;
    grid-template-columns: 33% 66%;
    grid-template-rows: 50% 50%;
}
.icon{
    grid-row: 1/3;
    object-fit: cover ;
    height: 100%;
    max-width: 100%;
}

.description{
    position: relative;
    top: 20%;

    font-weight: 700;
}

.currency{

    width: fit-content;

    background-image: url("Images/Coin.png");
    background-position: left;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: #ffc478;

    text-align: left;
    margin-left: 15%;
    padding-left: 15%;
    margin-right: 15%;
    padding-right: 15%;
    border-radius: 15px;
}

.button{
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #7abdae;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgba(142, 163, 146, 0.465);
}

.button:hover {background-color: #62a395}

.button:active {
  background-color: #62a395;
  box-shadow: 0 5px rgb(87, 100, 85);
  transform: translateY(4px);
}

.button2{
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ffc478;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px rgba(142, 163, 146, 0.465);
}

.button2:hover {background-color: #e9a143}

.button2:active {
  background-color: #e9a143;
  box-shadow: 0 1px rgb(87, 100, 85);
  transform: translateY(4px);
}
